/* =============================== */
/* Common Styles                   */
/* =============================== */
a {
  color: $brand-secondary;
}
a:focus, a:hover {
 text-decoration: none;
}
a:visited {
    color: $brand-secondary;
}
.img-responsive {
  width: 100%;
}

input[type="submit"] {
  padding:10px 10px;
  color:$brand-tertiary;
  border:solid 1px;
  box-shadow: none;
  text-shadow: none;
  background: transparent;
  top: -2px;
  position: relative;

}
input[type="submit"]:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
  color: $brand-secondary;
  border-color: $brand-secondary;
}

span.comments-link {
    display: none;
}

nav.navigation.post-navigation {
    padding-bottom: 15px;
    padding-top: 15px;
    .nav-links a {
    color: $brand-tertiary;
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px;
    border-radius: 3px;
  }
  .nav-links a:hover {
    color: $brand-secondary
  }
}

.overlay {
  position: relative;
  display: block;
}

.overlay:before{
  position: absolute;
  font-family: FontAwesome;
  content:"\f08e";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  color: $brand-white;
  padding-top: 35%;
  padding-left: 40%;
  font-size: 4em;
}

.overlay:hover:before{
  display: block;
  background-color: $brand-secondary;
  opacity: 0.7;
}


/* =============================== */
/* Hamburguer Styles               */
/* =============================== */
.theme-hamburguer {
  float: right;
  color: $brand-white;
  margin-top: 50px;
  cursor: pointer;
}
a:hover {
  color: $brand-secondary;
}
/* =============================== */
/* Nav Modal Styles                */
/* =============================== */

div#nav-modal {
    width: 100%;
    padding-right: 0!important;
    background: $brand-secondary;
    .modal-dialog {
        width: 100%;
        margin: 0;
        .modal-content {
            background: 0 0;
            box-shadow: none;
            border: none;
            padding: 10% 15%;
            .modal-header {
                border: none;
                a.fa.fa-close.fa-5x {
                    color: #1ABC9C;
                    float: right;
                    cursor: pointer;
                    font-size: 3em;
                }
            }
            .menu-primary {
                .nav{
                  >li{
                   float: none;
                    >a {
                      padding: 0;
                      font-size: 8rem;
                      color: $brand-main;
                      line-height: 1.25em;
                  }
                }
              }
                .nav>li>a:hover {
                  background-color: transparent;
                  color:$brand-tertiary;
                }
            }
        }
    }
}

/* =============================== */
/* Slider Styles                   */
/* =============================== */

.carousel {
    max-height: 400px;
    overflow: hidden;
    .carousel-control.left {
        background-image: none;
    }
    .carousel-control.right {
        background-image: none;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 15%;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        right: 15%;
    }
}
/* =============================== */
/* Homepage Styles                  */
/* =============================== */

body.page-template-homepage {
  .theme-icon-container {
    text-align: center;
  }
  h2 {
    color: $brand-secondary;
    font-size: 4rem;
  }
  .textwidget {
    font-size: 2.5rem;
    color: $brand-tertiary;
    a {
      color: $brand-secondary;
    }
  }
}
/* =============================== */
/* Single Portfolio Styles         */
/* =============================== */

body.single-portfolio {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      .devicons {
        font-size: 7.25rem;
      }
    }
  }
}


/* =============================== */
/* Isotope Styles                  */
/* =============================== */

ul#filters {
  list-style: none;
  margin:0;
  padding: 0;
  margin-bottom: 1em;
  li {
    display: inline-block;
    a {
      padding:10px 15px;
      color:$brand-tertiary;
      font-size: 16px;
      border:solid 1px;
      border-radius: 3px;
    }
    a:hover {
      color:$brand-secondary;
    }
  }

}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#isotope-list {
  .element-item {
    width: 33%;
    img.size-medium {
      width: 100% !important;
    }
  }
}
/* =============================== */
/* Footer Styles                  */
/* =============================== */
.container-fluid.footer-container {
    min-height: 50px;
    background: $brand-tertiary;
    padding-top: 15px;
    margin-top: 50px;
    padding-bottom: 10px;
    .fa {
      display: inline-block;
    }

    a.sc-icons {
        padding: 10px;
        opacity: 1;
        -webkit-transition: 0.3s all 0s;
        -moz-transition: 0.3s all 0s;
        -o-transition: 0.3s all 0s;
        -ms-transition: 0.3s all 0s;
        transition: 0.3s all 0s;
        color: $brand-main;
        font-size: 1em;
    }

    a.sc-icons:visited,
    a.sc-icons:hover {
        color: $brand-secondary;
    }

    a.sc-icons:hover {
        opacity: 1;
    }
    .site-info {
      color: $brand-main;
      font-family: Arial,sans-serif;
      font-size: 14px;
      padding-top: 10px;
    a {
      color: $brand-main;
    }
  }
}

/* =============================== */
/* Sidebar                         */
/* =============================== */

aside#secondary {
  h2 {
    font-size: 2.75rem;

  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: none;
      a {
        color: $brand-tertiary;

      }
      a:hover {
        color: $brand-secondary;
      }
    }
  }
  .search-form label {
    width: 75%;
}
input[type="submit"] {
  top: -2px;
  position: relative;
}
  input[type=search] {
      background: transparent;
      border: 1px solid $brand-tertiary;
      color: $brand-tertiary;
      padding-top: 0;
      width: 100%;
  }
  input[type=search]::-webkit-input-placeholder {
    color: $brand-tertiary;
    font-size: 14px;
  }
  input[type=search]:-moz-placeholder {
    color: $brand-tertiary;
    font-size: 14px;
  }
  input[type=search]::-moz-placeholder {
    color: $brand-tertiary;
    font-size: 14px;
  }
  input[type=search]:-ms-input-placeholder {
    color: $brand-tertiary;
    font-size: 14px;
  }
}

/* =============================== */
/* Media Queries                  */
/* =============================== */

@media (max-width: $screen-phone) {
  .fa-3x {
    font-size: 2em;
}
  .modal-content {
    padding: 10% 5% !important;
    .fa-5x {
    font-size: 2em;
    }
  }
    .menu-primary {
        .nav {
            margin: 0;
            >li {
                >a {
                    padding: 0;
                    font-size: 5rem !important;
                    color: $brand-main;
                    line-height: 1.25em;
                }
            }
        }
    }
    ul#filters {
      li {
        a {
          padding:3px 5px;
        }
      }

    }
    #isotope-list {
      .element-item {
        width: 99% !important;
        img.size-medium {
          width: 100% !important;
        }
      }
    }
    .site-info {
      text-align: center;
    }
    .icons-box-footer {
    text-align: center !important;
    }
}



@media (max-width: $screen-tablet) {
  .fa-3x {
    font-size: 2em;
  }
  .fa-5x {
  font-size: 2em;
  }
  .menu-primary {
      .nav {
          margin: 0;
          >li {
              >a {
                  font-size: 5rem;
              }
          }
      }
  }
  #isotope-list {
    .element-item {
      width: 50%;
      img.size-medium {
        width: 100% !important;
      }
    }
  }

}
