/* =============================== */
/* Common Styles                   */
/* =============================== */

a:focus, a:hover {
 text-decoration: none;
}
.img-responsive {
  width: 100%;
}

/* =============================== */
/* Slider Styles                   */
/* =============================== */

.carousel {
    .carousel-control.left {
        background-image: none;
    }
    .carousel-control.right {
        background-image: none;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 15%;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        right: 15%;
    }
}